.sidebar {
  grid-area: Sidebar;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  height: 100vh;
  width: 260px;

  border-right: var(--border-width) var(--border-style) var(--border-color);

  &Menu {
    padding: 1rem;

    &Item {
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
